@CHARSET "ISO-8859-1";

div#header {
	display: none;
}

p.alphabet {
	display: none;
}

p.submenu {
	display: none;
}

a.icons {
	display: none;
}

h1 {
	border: none;
	padding-bottom: 25px;
}

table.legend {
	display: none;
}

#overDiv {
	display: none;
}


a[href]:after {
	content: none !important;
}